.Repositories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Repositories-img {
  border-radius: 50%;
  height: 300px;
  margin: 150px 20px 50px 20px;
  border: 1px solid #a09a9a;
}

.Repositories-login, 
.Repositories-git, 
.Repositories-git a {
  padding-left: 20px;
  color:#a09a9a;
  font-weight: 100;
}


.Repositories-list {
  margin: 80px 0;
  height: 70vh;
  overflow: scroll;
  border-bottom: 1px solid #a09a9a;
  padding: 10px;
}

.Repositories-list li {
  border-radius: 60px;
  margin-bottom: 20px;
  padding: 10px 20px;
  list-style: none;
  width: 600px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Repositories-list li:hover {
  height: 50px;
}

.Repositories-list li a {
  text-decoration: none;
  color: white;
  background-color: #2e2e2e;
  font-size: 20px;
}

.Repositories-list li a:hover {
  color: #a09a9a;
}